@use "../core" as *;
@use "sass:map";

:root {
  // Durations
  @each $speed, $value in $animation-durations {
    --motion-#{$speed}: #{$value};
    --motion-#{$speed}-sensitive: #{$value};
  }

  // Prefers-reduced-motion
  @media (prefers-reduced-motion: reduce) {
    @each $speed, $value in $animation-durations {
      --motion-#{$speed}-sensitive: 0ms;
    }
  }

  // Delays
  @each $speed, $value in $animation-delays {
    --delay-#{$speed}: #{$value};
    --delay-#{$speed}-sensitive: #{$value};
  }

  // Prefers-reduced-motion
  @media (prefers-reduced-motion: reduce) {
    @each $speed, $value in $animation-durations {
      --delay-#{$speed}-sensitive: 0ms;
    }
  }

  // Easing
  @each $ease, $value in $animation-easings {
    --ease-#{$ease}: #{$value};
  }

  @each $name, $params-map in $transitions {
    --trans-#{$name}: var(--motion-#{map.get($params-map, "motion")})
      var(--ease-#{map.get($params-map, "ease")});
    --trans-#{$name}-sensitive: var(
        --motion-#{map.get($params-map, "motion")}-sensitive
      )
      var(--ease-#{map.get($params-map, "ease")});
  }
}

// View transition theme switch
@media (prefers-reduced-motion: no-preference) {
  ::view-transition-old(root) {
    animation: fade-out var(--motion-slow) var(--ease-in);
  }

  ::view-transition-new(root) {
    animation: fade-in var(--motion-slow) var(--ease-out);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      filter: blur(32px);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      filter: blur(32px);
    }
  }
}
