body {
  min-height: 100svh;
  font: var(--font-1);
  letter-spacing: var(--ls-1);
  color: var(--fg-text-base);
  background-color: var(--bg-canvas-default);
  padding-block-end: var(--pad-page-block-end);
}

:where(
  a[href],
  button,
  input,
  select,
  textarea,
  summary,
  [tabindex]:not([tabindex="-1"]),
  [contenteditable="true"]
) {
  &:focus {
    outline: 0px solid transparent;
  }
  &:focus-visible {
    outline: var(--border-default-focus);
    outline-offset: var(--offset-default-focus);
  }
}

::selection {
  background-color: var(--bg-text-selection);
  color: var(--fg-text-selection);
}

::target-text {
  background-color: var(--bg-text-target);
  color: var(--fg-text-target);
}
