$animation-durations: (
  fast: 120ms,
  default: 220ms,
  slow: 500ms,
);

$animation-delays: (
  fast: 120ms,
  default: 220ms,
  slow: 500ms,
);

$animation-easings: (
  in: cubic-bezier(0.4, 0, 1, 1),
  out: cubic-bezier(0, 0, 0.2, 1),
  in-out: cubic-bezier(0.4, 0, 0.2, 1),
);

$transitions: (
  default: (
    motion: "default",
    ease: "out",
  ),
);
