@use "helper" as *;

$border-widths: (
  default-focus: rem(2px),
  completed: rem(1px),
  md: rem(1px),
);

$border-colors: (
  default-focus: (
    light: "primary-500",
    dark: "primary-500",
  ),
  list-item: (
    light: "purple-300",
    dark: "purple-800",
  ),
);

$borders: (
  default-focus: (
    width: "default-focus",
    style: "solid",
    color: "default-focus",
  ),
  list-item: (
    width: "md",
    style: "solid",
    color: "list-item",
  ),
);
