// bs-none is used for transitions
$box-shadow-colors: (
  none: (
    light: "transparent",
    dark: "transparent",
  ),
  list: (
    light: "purple-400" 0.5,
    dark: "neutral-1000" 0.5,
  ),
);

$box-shadows-offsets: (
  none: 0px 0px 0px 0px,
  list: 0px 35px 50px -15px,
);

$box-shadows: (
  link: (
    var(--bs-link),
  ),
);
