@use "helper" as *;

// Buttons
$button-colors: (
  default: (
    idle: (
      bg: (
        light: "neutral-000",
      ),
      fg: (
        light: "neutral-900",
      ),
    ),
    hover: (
      bg: (
        light: "neutral-000",
      ),
      fg: (
        light: "neutral-900",
      ),
    ),
    focus: (
      outline: (
        light: "neutral-000",
      ),
      offset: (
        light: "neutral-900",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline-start: (
    default: rem(20px),
  ),
  padding-inline-end: (
    default: rem(8px),
  ),
  padding-block: (
    default: rem(8px),
  ),
  border-width: (
    default: 0px,
  ),
  outline-width: (
    default: rem(2px),
  ),
  offset-width: (
    default: rem(3px),
  ),
  border-radius: (
    default: 1000px,
  ),
  svg-width: (
    default: rem(14px),
  ),
  gap: (
    default: rem(12px),
  ),
);
