@use "helper" as *;
@use "page" as *;

// Wrapper max-widths
$wrapper-sizes: (
  default: 540px,
  narrow: 1088px,
  wide: 1360px,
);

// Static sizes
$static-sizes: (
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
);

// Breakpoint-specific sizes
$breakpoint-specific-sizes: (
  (12px, 18px, 18px),
  (12px, 14px, 14px),
  (14px, 20px, 20px),
  (16px, 24px, 24px),
  (20px, 26px, 26px),
  (40px, 24px, 24px),
  (40px, 48px, 48px),
  (48px, 48px, 36px),
  (78px, 48px, 60px),
  (108px, 163px, 163px)
);

//  Logo
$logo-sizes: (
  default: bp(108px, 163px, 163px),
);

// Icon
$icon-sizes: (
  theme: bp(20px, 26px, 26px),
  check: rem(8px),
  cross: bp(12px, 18px, 18px),
);
