@use "helper" as *;

// Font-family
@font-face {
  font-family: "Josefin-Sans";
  src: url("/fonts/JosefinSans.woff2") format("woff2");
  font-weight: 100 700;
  font-display: swap;
}

$font-family: (
  base: "'Josefin-Sans', system-ui, sans-serif",
);

// Font-weights
$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);

// Fonts
$fonts: (
  1: (
    "family": "base",
    "size": bp(12px, 18px, 18px),
    "weight": "regular",
    "line-height": 1,
    "letter-spacing": rem(-0.25px),
  ),
  2: (
    "family": "base",
    "size": bp(12px, 14px, 14px),
    "weight": "regular",
    "line-height": 1,
    "letter-spacing": rem(-0.25px),
  ),
  3: (
    "family": "base",
    "size": rem(14px),
    "weight": "bold",
    "line-height": 1,
    "letter-spacing": rem(-0.25px),
  ),
  4: (
    "family": "base",
    "size": rem(14px),
    "weight": "regular",
    "line-height": 1,
    "letter-spacing": rem(-0.25px),
  ),
);
