---
import type { HTMLAttributes } from "astro/types";

// Props
interface Props extends HTMLAttributes<"a"> {
  href: string;
  name: string;
}

const { href, name, ...rest } = Astro.props;
---

<a href={href} {...rest}>{name}</a>

<style lang="scss">
  @use "@sass/miscellaneous" as *;

  a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font: var(--font-7);
    letter-spacing: var(--ls-xl);
    text-decoration: none;
    color: var(--fg-text-strong);
    border-radius: var(--br-xs);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: var(--size-3);
      border-radius: var(--br-pill);
      background-color: var(--clr-accent-orange-500);
      transform: scaleX(0);
      opacity: 0;
      transition:
        transform var(--trans-default-sensitive),
        opacity var(--trans-default);
    }

    &[aria-current="page"]::before {
      transform: scaleX(1);
      opacity: 1;

      @include mq(large, max) {
        transform: scaleX(0);
        opacity: 0;
      }
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }

    &:focus {
      outline: 0px solid transparent;
    }

    &:focus-within {
      outline: var(--size-2) solid var(--clr-neutral-900);
    }
  }
</style>
