---
// Component imports
import Wrapper from "@components/utilities/Wrapper.astro";
import ThemeSwitch from "@components/ui/ThemeSwitch.astro";

// Asset imports
import Logo from "@assets/svg/logo.svg";
---

<header>
  <Wrapper>
    <h1 class="visually-hidden">Personal Todo List Application</h1>
    <div class="layout">
      <Logo class="logo" aria-hidden="true" />
      <ThemeSwitch />
    </div>
  </Wrapper>
</header>

<style lang="scss">
  header {
    padding-block-start: var(--pad-page-block-start);
    padding-block-end: var(--pad-sect-md);
  }

  .layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: var(--size-logo-default);
  }
</style>
