@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "../core" as *;

@mixin mq($size, $type: min) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: em(map.get($breakpoints, $size));
    @media screen and (#{$type}-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (#{$type}-width: em($size)) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}
