---
import type { HTMLAttributes } from "astro/types";

const justifyItemsOptions = {
  start: "start",
  end: "end",
  center: "center",
};

const alignItemsOptions = {
  start: "start",
  end: "end",
  center: "center",
};

const justifyContentOptions = {
  start: "start",
  end: "end",
  center: "center",
};

const alignContentOptions = {
  start: "start",
  end: "end",
  center: "center",
};

// Props
interface Props extends HTMLAttributes<"div"> {
  small: number;
  medium?: number;
  large?: number;
  itemX?: keyof typeof justifyItemsOptions;
  itemY?: keyof typeof alignItemsOptions;
  contentX?: keyof typeof justifyContentOptions;
  contentY?: keyof typeof alignContentOptions;
  gap?: string;
  colGap?: string;
  rowGap?: string;
  classes?: string;
}

const {
  small,
  medium = small,
  large = medium,
  itemX,
  itemY,
  contentX,
  contentY,
  gap,
  colGap = gap,
  rowGap = gap,
  classes,
  ...rest
} = Astro.props;

// Alignment
const justifyItems = itemX && justifyItemsOptions[itemX];
const alignItems = itemY && alignItemsOptions[itemY];
const justifyContent = contentX && justifyContentOptions[contentX];
const alignContent = contentY && alignContentOptions[contentY];

// Gap
const colGapStr = colGap && `var(--${colGap})`;
const rowGapStr = colGap && `var(--${rowGap})`;
---

<div class:list={["even-cols", classes]} {...rest}>
  <slot />
</div>

<style
  lang="scss"
  define:vars={{
    small,
    medium,
    large,
    justifyItems,
    alignItems,
    justifyContent,
    alignContent,
    colGapStr,
    rowGapStr,
  }}
>
  @use "@sass/miscellaneous" as *;

  .even-cols {
    display: grid;
    justify-items: var(--justifyItems);
    align-items: var(--alignItems);
    justify-content: var(--justifyContent);
    align-content: var(--alignContent);
    column-gap: var(--colGapStr);
    row-gap: var(--rowGapStr);

    grid-template-columns: repeat(var(--small), 1fr);

    @include mq(medium) {
      grid-template-columns: repeat(var(--medium), 1fr);
    }

    @include mq(large) {
      grid-template-columns: repeat(var(--large), 1fr);
    }
  }
</style>
