---
// Types
import type { HTMLAttributes } from "astro/types";

const justifyContentOptions = {
  start: "flex-start",
  end: "flex-end",
  center: "center",
  between: "space-between",
  around: "space-around",
  evenly: "space-evenly",
};

const alignItemsOptions = {
  stretch: "stretch",
  start: "flex-start",
  end: "flex-end",
  center: "center",
  baseline: "baseline",
};

interface Props extends HTMLAttributes<"div"> {
  dir?: "row" | "col";
  primAxis?: keyof typeof justifyContentOptions;
  secAxis?: keyof typeof alignItemsOptions;
  wrap?: "wrap" | "nowrap";
  gap?: string;
  colGap?: string;
  rowGap?: string;
  classes?: string;
}

const {
  dir = "col",
  primAxis = "start",
  secAxis = "center",
  wrap = "wrap",
  gap,
  colGap = gap,
  rowGap = gap,
  classes,
  ...rest
} = Astro.props;

// Alignment
const justifyContent = justifyContentOptions[primAxis];
const alignItems = alignItemsOptions[secAxis];

// Gap
const colGapStr = colGap && `var(--${colGap})`;
const rowGapStr = colGap && `var(--${rowGap})`;
---

<div class:list={["flex-group", dir, wrap, classes]} {...rest}>
  <slot />
</div>

<style
  lang="scss"
  define:vars={{ justifyContent, alignItems, colGapStr, rowGapStr }}
>
  @use "@sass/miscellaneous" as *;

  .flex-group {
    display: flex;
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    column-gap: var(--colGapStr);
    row-gap: var(--rowGapStr);

    &.row {
      flex-direction: row;
    }
    &.col {
      flex-direction: column;
    }

    &.wrap {
      flex-wrap: wrap;
    }

    &.nowrap {
      flex-wrap: nowrap;
    }

    @include mq(small) {
      &.dir-sm-row {
        flex-direction: row;
      }
      &.dir-sm-col {
        flex-direction: column;
      }
    }
    @include mq(medium) {
      &.dir-md-row {
        flex-direction: row;
      }
      &.dir-md-col {
        flex-direction: column;
      }
    }
    @include mq(large) {
      &.dir-lg-row {
        flex-direction: row;
      }
      &.dir-lg-col {
        flex-direction: column;
      }
    }
  }
</style>
