---
// Asset imports
// import Icon from "@assets/"

// Types
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  variant: "select";
  text?: string;
  icon?: string;
  classes?: string;
}

const { type = "button", variant, text, icon, classes, ...rest } = Astro.props;
---

<button class:list={["btn", variant, classes]} {type} {...rest}>
  {text && <span class="text">{text}</span>}
  <!-- {icon && <Icon class="icon" />} -->
</button>

<style lang="scss">
  .btn {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--btn-gap-default);
    text-transform: none;
    text-decoration: none;
    border-style: solid;
    border-radius: var(--btn-border-radius-default);
    transition:
      color var(--trans-default),
      background-color var(--trans-default),
      border-color var(--trans-default);

    &:not(:disabled) {
      cursor: pointer;
    }

    &:focus {
      outline: 0px solid transparent;
    }

    .icon {
      width: var(--btn-icon-size-default);
      aspect-ratio: 1;
      color: inherit;
    }

    &.select {
      padding-inline: var(--btn-padding-inline-select);
      padding-block: var(--btn-padding-block-select);
      font: var(--font-7);
      letter-spacing: var(--ls-xl);
      background-color: var(--btn-bg-color-idle-select);
      color: var(--btn-fg-color-idle-select);
      border-width: var(--btn-border-width-select);
      border-color: var(--btn-border-color-idle-select);

      @media (hover: hover) {
        &:hover {
          background-color: var(--btn-bg-color-hover-select);
          color: var(--btn-fg-color-hover-select);
          border-color: var(--btn-border-color-hover-select);
        }
      }

      &:active {
        // No pressed state
      }

      &:focus-visible {
        box-shadow:
          0 0 0 var(--btn-offset-width-select)
            var(--btn-offset-color-focus-select),
          0 0 0 calc(var(--btn-outline-width-select) * 2)
            var(--btn-outline-color-focus-select);
      }
    }
  }
</style>
