---

---

<div aria-hidden="true"></div>

<style lang="scss">
  div {
    width: var(--size-20px-24px-24px);
    aspect-ratio: 1;
    border-radius: var(--br-round);
    border: var(--bw-md) solid var(--bc-list-item);
  }
</style>
