---
// Type imports
import type { HTMLAttributes } from "astro/types";

// Asset imports
import CheckSvg from "@assets/svg/icon-check.svg";

// Props
interface Props extends HTMLAttributes<"input"> {
  task: string;
  completed: boolean;
}

const { task, completed } = Astro.props;
---

<label class="check-toggle">
  <span class="visually-hidden">Complete task: {task}</span>
  <CheckSvg class="check-svg" aria-hidden="true" />
  <input type="checkbox" class="visually-hidden" checked={completed} />
</label>
