---
// Type imports
import type { HTMLAttributes } from "astro/types";

// Component imports
import CheckToggle from "@components/ui/CheckToggle.astro";

// Asset imports
import CrossSvg from "@assets/svg/icon-cross.svg";

// Props
interface Props extends HTMLAttributes<"li"> {
  task: string;
  completed: boolean;
}

const { task, completed } = Astro.props;
---

<li class="todo-list-item">
  <CheckToggle task={task} completed={completed} />

  <span class="task">{task}</span>

  <button type="button" class="delete-button"
    ><span class="visually-hidden">Delete task: {task}</span>
    <CrossSvg class="cross-svg" aria-hidden="true" />
  </button>
</li>
