---
// Type imports
import type { HTMLAttributes } from "astro/types";

// Component imports
import CheckToggle from "@components/ui/CheckToggle.astro";

// Asset imports
import CrossSvg from "@assets/svg/icon-cross.svg";

// Props
interface Props extends HTMLAttributes<"li"> {
  task: string;
  completed: boolean;
}

const { task, completed } = Astro.props;
---

<li class="todo-list-item">
  <CheckToggle task={task} completed={completed} />

  <span class="task">{task}</span>

  <button type="button" class="delete-button"
    ><span class="visually-hidden">Delete task: {task}</span>
    <CrossSvg class="cross-svg" aria-hidden="true" />
  </button>
</li>

<style is:global lang="scss">
  .todo-list-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--space-cont-lg);
    background-color: var(--bg-container-default);
    padding-block: var(--pad-cont-xs);
    padding-inline: var(--pad-cont-sm);
    border-bottom: var(--border-list-item);

    @media (hover: hover) {
      &:hover {
        .delete-button {
          opacity: 1;
        }
      }
    }

    &:has(input:checked) .task {
      color: var(--fg-text-completed);
      text-decoration: line-through;
    }

    .task {
      display: grid;
      position: relative;
      width: fit-content;
      font: var(--font-1);
      color: var(--fg-text-default);
      transition: color var(--trans-default);
    }

    .delete-button {
      display: grid;
      background: none;
      border: none;
      cursor: pointer;
      transition: opacity var(--trans-default);

      @media (hover: hover) {
        opacity: 0;
      }

      &:focus-visible {
        opacity: 1;
      }

      .cross-svg {
        width: var(--size-icon-cross);
      }
    }
  }
</style>
